* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html {
	font-size: 62.5%;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	min-width: 1600px;
	font-family: 'Montserrat', sans-serif;
	background-color: #333;
	overflow: hidden;
}

.active {
	background-color: rgba(255, 255, 255, 0.2);
}

.panel {
	width: 1600px;
	height: 1000px;
	border: 1px solid #4b5769;
	border-radius: 15px;
	overflow: hidden;
}
.panel-left {
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: #4b5769;
}
.panel-right {
	background-image: linear-gradient(
		180deg,
		rgba(55, 64, 76, 1) 0%,
		rgba(21, 26, 32, 1) 100%
	);
}

.info-top h1 {
	font-size: 4rem;
	font-weight: bold;
	text-transform: uppercase;
}
.date-box {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 160px;
}

.date-box .day {
	font-size: 2rem;
}

.date-box .time {
	font-size: 4rem;
	font-weight: bold;
}

.date-box .date {
	font-size: 1.8rem;
}

.menu {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	height: 700px;
}

.menu a {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	width: 100%;
	height: 30%;
	text-decoration: none;
	color: #fff;
	border: 1px solid #ddd;
	border-radius: 15px;
}

.menu a:hover {
	background-color: transparent;
	background-image: linear-gradient(
		160deg,
		rgba(0, 110, 255, 0.25) 0%,
		rgba(9, 255, 0, 0.25) 100%
	);
}

.info-box h3 {
	font-size: 2rem;
}

.info-box p {
	font-size: 1.6rem;
}
.menu-item i {
	font-size: 6rem;
	margin-bottom: 0.4rem;
}

.menu-item p {
	font-size: 2rem;
	text-transform: uppercase;
}

.main-stats h1 {
	font-size: 3rem;
	text-transform: uppercase;
	font-weight: bold;
}

.main-stat-box {
	height: 140px;
	border-radius: 15px;
	transition: background-color 0.3;
}

.main-stat-box:hover {
	background-color: rgba(255, 255, 255, 0.08);
}

.main-stat-box h3 {
	margin-bottom: 1em;
	font-size: 1.8em;
	text-transform: uppercase;
	font-weight: bold;
}

.main-stat-box p {
	font-size: 1.2rem;
}

.main-table h3 {
	font-size: 2rem;
	color: #fff;
	font-weight: bold;
}

.menu-item thead,
.main-table .dropdown-item {
	font-size: 1.4rem;
}

.main-table {
	font-size: 1.2rem;
}

.mian-table .btn {
	font-size: 1.6rem;
}

.page-link {
	padding: 0.5em 1em;
	font-size: 1.4rem;
	background-color: transparent;
	color: #fff;
	transition: background-color 0.3s;
}

.page-link:hover {
	background-color: rgba(255, 255, 255, 0.08);
	color: #ddd;
}

aside h3 {
	margin-bottom: 1em;
	font-size: 2rem;
	font-weight: bold;
	text-transform: uppercase;
}

.logo .logo-text {
	font-size: 3.4rem;
	text-shadow: 0 0 5px rgb(255, 255, 255);
}

.logo p {
	font-size: 1.8rem;
}

.users-online p,
.users-gender i {
	font-size: 4rem;
}

.users-gender,
.fa-male {
	text-shadow: 0 0 10px #09ff00;
}

.users-gender,
.fa-female {
	text-shadow: 0 0 10px #006eff;
}

.monthly-stats .form-select,
.monthly-stats option {
	font-size: 1.8rem;
}

.monthly-stats .info {
	font-size: 1.8rem;
}

.monthly-stats .number {
	font-size: 1.4rem;
}

.posts h3 {
	font-size: 2.4rem;
	text-transform: uppercase;
	font-weight: bold;
}

.featured-post .btn {
	font-size: 1.6rem;
}

.featured-post .card-title {
	font-size: 1.8rem;
}

.featured-post .card-body {
	font-size: 1.4rem;
}

.active-users .card-img {
	overflow: hidden;
}

.active-users img {
	height: 180px;
	object-fit: cover;
	opacity: 0.6;
	transition: opacity 0.3s, transform 0.3s;
}

.active-users img:hover {
	opacity: 1;
	transform: scale(1.1);
}

.active-users .card-body,
.active-users .btn {
	font-size: 1.5rem;
}

.find-post,
.find-post input,
.find-post .btn,
.find-post.dropdown-item {
	font-size: 1.6rem;
}

.posts-modal h3 {
	font-size: 1.7rem;
	font-weight: bold;
}
.posts-modal p,
.posts-modal .btn {
	font-size: 1.3rem;
}

.posts-modal .modal-body .btn {
	text-transform: uppercase;
}

.users-list li {
	padding: 0.5em 1em;
	margin: 0.2em 0;
	font-size: 2rem;
}

.users-list .list-group-item {
	border: 1px solid #fff;
}

.users-search label,
.users-search input,
.users-search select {
	font-size: 1.6rem;
}

.users-search .btn {
	font-size: 2rem;
}

.modal-content h3.card-title {
	font-size: 2.6rem;
}

.modal-content label,
.modal-content .newsletter,
.modal-content select,
.modal-content input,
.modal-content .btn {
	font-size: 1.6rem;
}
